.menu {
    width: 75%;
    margin: 0 auto;

}

header a {
    margin: 10px;
    padding: 15px 5px;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;

}

header {
    background-color: lightgray;
    border-top: 5px solid rgb(115, 159, 115);
}

h1 {
    color: rgb(99, 176, 99);
    font-size: 45px;
    font-weight: 400;
    padding-left: 14%;
    margin-bottom: 0%;
    .playfair-display-<uniquifier> {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; }  
}

.sub-title1 {
    color: lightgrey;
    margin: 0% 14% 10% 14%;
    

   }

.sub-title {
    font-size: 15px;
    color: lightgrey;
    margin-top: 0%;
    margin-bottom: 3%;
   }

h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 1%;
    
   }

   .col-1 {
    margin-left: 14%;
    margin-right: 5%;
    text-align: left;
   }
   
span {
       color: rgb(99, 176, 99);
       text-decoration: none;
   }

p {
    margin-bottom: 10%;
    font-size: 13px;
   }

.container-flex {
    display: flex;
    flex-direction: row;
  } 

.categories,
.post {
    font-size: 12px;
    list-style-type: none;
    text-align: left;
    margin-left: 0%;
    padding-left: 0%;
}

.tags {
    font-size: 10px;
    background-color: lightgrey;
    list-style-type: none;
    width: 80px;
    height: 20px;
    margin: 2%;
}

.col-2 {
    margin-right: 15%;
    margin-top: 27px;
}
input {
    background-color: rgb(223, 222, 222);
    border-color: rgb(223, 222, 222);
}

.container {
    margin: 10px;
    background-color: lightgrey;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}
.container-flex-footer-items {
    margin: 7%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:center;
    letter-spacing: 20px;
    font-size: 20px;    
}

.lista-navigate {
    list-style-type: none;
    padding-left: 0%;
    font-size: 12px;
    margin: 0% 10%;
    justify-content: end;
}

.container-flex-about {
    display: flex;
    margin: 3% 5%;
    width: 40%;
    flex-direction: column;
    justify-content: left;
}
    
.flex-justify-between {
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-around;

}

.flex-wrap-fotostream {
flex-wrap: wrap;
display: flex;
flex-direction: row;
justify-content: space-around;

}

.w-40 {
    width: 40%;
}
.w-30 {
    width: 30%;
}
.copyright {
    padding: 5%;
}
.cuadrado {
    width: 40px;
    height: 40px;
    background-color: grey;
    margin: 5%;
    border: 7px white solid;

}


@media (max-width: 700px) {
    footer {
        flex-direction: column;
    }
    .w-30,
    .w-40 {
        width: 100%;
    }
}